@import './common.scss';

.carousel.fade{

  .car-wrapper {
    // position: relative;
    height: 100%;

    .car-list {
      position: relative;
      height: 100%;

      .car-item {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity .5s;
        z-index: 0;

        &.active {
          opacity: 1;
          z-index: 1
        }
      }
    }
  }

}